In [1]:
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url).text
soup = BeautifulSoup(page,'xml')

In [3]:
table = soup.find('table')

In [4]:
#print(table)

In [5]:
postcode = []
borough = []
neighbourhood = []

In [6]:
for tr_cell in table.find_all('tr'):
    counter = 1
    postcode_var = -1
    borough_var = -1
    neighbourhood_var = -1
    for td_cell in tr_cell.find_all('td'):
        if counter == 1:
            postcode_var = td_cell.text
        if counter == 2:
            borough_var = td_cell.text
            tag_a_barough = td_cell.find('a')
        if counter == 3:
            neighbourhood_var = str(td_cell.text).strip()
            tag_a_neighbourhood = td_cell.find('a')
        counter +=1
        if (postcode_var == 'Not assigned' or borough_var == 'Not assigned' or neighbourhood_var == 'Not assigned'):
            continue
    try:
        if ((tag_a_barough is None)) or (tag_a_neighbourhood is None):
            continue
    except:
        pass
    if(postcode_var == -1 or borough_var == -1 or neighbourhood_var == -1):
        continue
    
    postcode.append(postcode_var)
    borough.append(borough_var)
    neighbourhood.append(neighbourhood_var)

In [7]:
unique_code = set(postcode)
postcode_u = []
borough_u = []
neighbourhood_u = []

for pc_u in unique_code:
    p = ''; b = ''; n='';
    for postcode_idx, postcode_element in enumerate(postcode):
        if pc_u == postcode_element:
            p = postcode_element;
            b = borough[postcode_idx]
            if n == '':
                n = neighbourhood[postcode_idx]
            else:
                n = n + ', ' + neighbourhood[postcode_idx]
    postcode_u.append(p)
    borough_u.append(b)
    neighbourhood_u.append(n)

In [8]:
toronto = {'postcode':postcode_u,'borough':borough_u,'neighbourhood':neighbourhood_u}
df_canada = pd.DataFrame.from_dict(toronto)

In [9]:
df_canada.head(10)

  postcode           borough                             neighbourhood
0      M3A        North York                                 Parkwoods
1      M4G         East York                                   Leaside
2      M2L        North York                                York Mills
3      M5K  Downtown Toronto  Design Exchange, Toronto Dominion Centre
4      M4H         East York                          Thorncliffe Park
5      M4K      East Toronto                                 Riverdale
6      M1G       Scarborough                                    Woburn
7      M9A         Etobicoke                          Islington Avenue
8      M5J  Downtown Toronto            Toronto Islands, Union Station
9      M8X         Etobicoke                              The Kingsway

In [ ]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(postcode))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [10]:
df_coord = pd.read_csv('./Geospatial_Coordinates.csv')

In [11]:
df_coord.head(5)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
df_loc = df_coord.rename(columns={"Postal Code": "postcode"})

In [16]:
df_loc.head(5)

  postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [17]:
df_canada.head(5)

  postcode           borough                             neighbourhood
0      M3A        North York                                 Parkwoods
1      M4G         East York                                   Leaside
2      M2L        North York                                York Mills
3      M5K  Downtown Toronto  Design Exchange, Toronto Dominion Centre
4      M4H         East York                          Thorncliffe Park